#btn {
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 100%;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  #btn:hover {
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  }
  #gg{
    background-color: #030014;
  }
  #n{
    background: linear-gradient(120deg,#00f7ff,#ff00e6);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
  }
  
  
  @media screen and (max-width: 576px) {
    #nav {
     width: 30rem;
     
    }
    #n{
     font-size: 1.5rem;
    }
  
  }